.about{
    display: flex;
    place-content: center;
    align-items: center;
    padding: 40px;
}

.about p{
    display: flex;
    place-content: flex-end;
}

.name{
    display: flex;
    place-content: flex-start;
    flex-direction: column;
    margin: 40px 80px;
}

.picture img{
    height: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    filter: drop-shadow(8px 6px 0 rgba(144, 224, 239, 0.5));
}

.social{
    display: flex;
    align-items: center;
}

.social a{
    height: 100%;
    width: 100%;
}

.social ul{
    display: flex;
}

.social li{
    display: flex;
    list-style-type: none;
    height: auto;
    width: auto;
}

.social svg{
    width: 25px;
    height: auto;
    fill: black;
    padding: 0 5px;
    transition: 0.2s ease-in-out;
}

.social svg:hover{
    fill:var(--blue);
    scale: 1.2;
}

.stack, .interests{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: flex-start;
}

.stack ul{
    place-items: flex-start;
    display: flex;
    flex-direction: column;
}

.head:is(.stack, .interests){
    display: flex;
    flex-direction: row;
}

.rct, .hsk{
    display: flex;
}

.rct:hover, .rct:active{
    cursor: pointer;
    animation: rotation 1s ease-in-out infinite;
}

main{
    display: flex;
    place-content: space-around;
    justify-items: center;

    margin: 0 80px;
    padding: 40px;

    border-radius: 50px;

    background-color: rgba(144, 224, 239, 0.2);
}

h2{
    margin: 10px;
    font-size: 2rem;
}

main li{
    padding: 10px;
    font-size: 1.2rem;
}

main svg{
    width: 50px;
    height: auto;
}

a:visited{
    color: var(--blue);
}

::selection{
    background-color: var(--blue);
    color: var(--white);
}

.examples{
    padding: 40px;
    margin: 0 80px;
}

.examples li{
    font-size: 1.2rem;
    margin: 20px;
}

@media (width<768px) {
    .name{
        margin: 10px 40px 0;
    }

    .about{
        padding: 40px 0 0;
        place-content: flex-start;
    }

    .social{
        margin: 10px 0;
    }

    .social svg{
        width: 40px;
    }

    .picture img{
        display: none;
    }

    main{
        margin: 20px;
        padding: 10px 0;

        border: none;
        flex-direction: column;

        border-radius: 20px;
    }

    .head:is(.stack, .interests){
        margin: 0;
    }

    .stack, .interests{
        margin: 20px 40px;
    }

    .examples{
        padding: 10px 40px;
        margin: 10px 0;
    }

    .examples p{
        margin: 10px 0;
    }
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
