:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*vars*/
    --c-glass: #bbbbbc;
    --c-light: #fff;
    --c-dark: #000;

    --c-content: #224;
    --c-action: #0052f5;

    --c-bg: #e8e8e9;

    --glass-reflex-dark: 1;
    --glass-reflex-light: 1;

    --saturation: 150%;

    --columns: 4;

    --dark-background-color: #242424;
    --light-background-color: #edf2fb;

    --light-border-color: #abc4ff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background-color);
    }
}

@media (prefers-color-scheme: light) {
    body{
        background-color: var(--light-background-color);
    }
}

html, body {
    height: 100svh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

